{% extends "master.html" %}

{% block titre %}{{ Restaurant.nomRestaurant }}{% endblock %}

{% block titrePage %}Informations sur {{ Restaurant.nomRestaurant }}{% endblock %}

{% block contenu %}
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th class="w-25">Ville</th>
                    <td>{{ Restaurant.villeRestaurant }}</td>
                </tr>
                <tr>
                    <th>Type de restaurant</th>
                    <td>{{ Restaurant.typeRestaurant }}</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>{{ Restaurant.note }} / 5</td>
                </tr>
                <tr>
                    <td colspan="2">
                        {% if user.is_authenticated %}
                        <a class="btn btn-primary" href="{% url 'ajoutCommentaire' Restaurant.noRestaurant %}">Ajouter un commentaire</a>
                        {% endif %}
                        <a class="btn btn-primary" href="{% url 'commentaires' Restaurant.noRestaurant %}">Voir les commentaires</a>
                        <a class="btn btn-primary" href="{% url 'restaurants' %}">Retourner à la liste des restaurants</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

