{% extends 'master.html' %}


{% block contenu %}
    <h3 style="text-align: center;">Suppression du commentaire</h3>
    <form method="POST" style="text-align: center;">
        {% csrf_token %} 
        <p>Voulez-vous vraiment supprimer ce commentaire ?</p>
        <br>
        <button class="btn btn-danger" style="margin-right: 10px;" type="submit">Oui</button><button class="btn btn-primary" type="button" onclick="location.href='{% url 'restaurants' %}'">Annuler</button>
    </form>

{% endblock %}