{% extends "master.html" %}

{% block titre %}Ajout de commentaire{% endblock %}

{% block titrePage %}Ajouter un commentaire pour {{ Restaurant.nomRestaurant }}{% endblock %}

{% block contenu %}
    <form method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        </table>
        <br>
        <input class="btn btn-success" type="submit" value="Ajouter le commentaire">
        <a class="btn btn-primary" href="{% url 'restaurants' %}">Retourner à la liste des restaurants</a>
    </form>
{% endblock %}


