{% extends 'master.html' %}

{% block titre %}Restaurants{% endblock %}

{% block titrePage %}Liste des restaurants{% endblock %}

{% block recherche %}
<h4>Rechercher un restaurant :</h4>
<br>
<form method="post">
{% csrf_token %}
{{ form.as_table }}
<input class="btn btn-success" type="submit" value="Rechercher">
</form>
{% endblock %}

{% block contenu %}
    <div class="card-group">
        {% for Restaurant in Restaurants %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><a href="detailRestaurant/{{ Restaurant.noRestaurant }}">{{ Restaurant.nomRestaurant }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Ville : {{ Restaurant.villeRestaurant }}</h6>
                <p class="card-text">Type de Restaurant : {{ Restaurant.typeRestaurant.nomType }}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'ajoutCommentaire' Restaurant.noRestaurant %}" class="card-link">Ajouter un commentaire</a>
                {% endif %}
                <br>
                <a href="{% url 'commentaires' Restaurant.noRestaurant %}" class="card-link">Voir les commentaires</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}